/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background: #2192ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container nav {
  background: #fff;
  padding: 30px;
  border-radius: 9px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.container nav ul li {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  margin: 0 20px;
  cursor: pointer;
  font-size: 2rem;
}

.container nav ul li::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background: #2192ff;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.container nav ul li:hover:after {
  width: 100%;
}
